@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*
#2EA082
#69C171
#D8EC8A
rgb(152, 180, 51)
#515760
*/

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: #2EA082;
    box-sizing: border-box;
    font-family: Nunito;
}

.body {
    padding: 7px;
}

.separator{
    height: 4px;
    background-color: #2EA082;
    margin: 20px 5px;
    border-radius: 10px;
}

.header {
    background-color: rgb(23, 99, 78);
    height: 7em;
}

.header h1{
    color: aliceblue;
    font-weight: 200;
    font-size: 1.4em;
    float: right;
    text-align: end;
    margin: 1.8em 0.5em;
}

.cerrarSesion{
    float: right;
    width: 8em;
    margin: 1.6em;
}

.topPanelButton{
    width: 33.33%;
    float: left;
    background-color: #D8EC8A;
    font-family: Nunito;
    text-align: center;
    padding: 10px;
    color: #3c4147;
    font-weight: 300;
    font-size: 23px;
    border-color: #69C171;
    border-style: solid;
    border-width: 0 1px 10px 1px;
}

.topPanelButton:hover {
    background-color: rgb(152, 180, 51);
    cursor: pointer ;
}

.tarjeta{
    background-color: aliceblue;
    border-radius: 10px;
}

.tarjeta.button{
    background-color: #D8EC8A;
    padding: 10px;
    text-align: center;
    color: #3c4147;
    font-weight: 100;
    font-size: 20px;
}

.tarjeta.button:hover {
    background-color: rgb(152, 180, 51);
    cursor: pointer;
}

.tarjeta.section{
    margin: 65px 3px;
    padding: 6px 3px;
    overflow: hidden;
}

.tarjeta.section h3{
    font-family: Nunito;
    font-size: 25px;
    color: #3c4147;
    font-weight: 400;
    margin: 10px 20px 10px 20px;
}

.fila{
}

#borrarProductos{
    float: right;
    margin: 5px;
    color: aliceblue;
    background-color: rgb(238, 61, 61);
}

#borrarProductos:hover{
    background-color: rgb(148, 25, 25);
}

.producto>.eliminar{
    display: none;
    margin: 5px;
    color: aliceblue;
    background-color: rgb(238, 61, 61);
}

.producto>.eliminar:hover{
    background-color: rgb(148, 25, 25);
}

.producto>.editar{
    display: none;
    margin: 5px;
    color: aliceblue;
    background-color: rgb(228, 177, 37);
}

.producto>.editar:hover{
    background-color: rgb(163, 125, 19);
}

.producto{
    width: 200px;
    padding: 10px;
    background-color: #D8EC8A;
    border-radius: 10px;
    margin: 5px;
    float: left;
    height: fit-content;
}

.producto img{
    width: 180px;
    height: 150px;
    object-fit: contain;
    align-self: center;
}

.producto h1{
    font-family: Nunito;
    font-size: 18px;
    color: #3c4147;
    font-weight: 500;
    width: 170px;
    height: 70px;
    margin: 5px;
    text-align: center;
}

.producto h2{
    font-family: Nunito;
    font-size: 22px;
    color: #3c4147;
    font-weight: 600;
    width: 160px;
    margin: 10px;
    text-align: end;
}

.centralSection {
    margin: 15px auto;
    width: 500px;
    padding: 30px;
    text-align: center;
}

.centralSection h1{
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.centralSection h2{
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 20px 0;
}

.centralSection h3{
    font-size: 15px;
    font-weight: 800;
    margin: 20px 0 10px 0;
    color: red;
}

.centralSection form input {
    width: 400px;
    margin: 0 0 0 10px;
    padding: 3px;
}

.centralSection form #loginButton {
    margin: 10px 0px 20px;
}


